/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container{ position: relative; width: 540px; margin: 0px auto; padding: 0px 10px; z-index: 10; }
	.container-fake{ 
		position: absolute; width: 560px; top: 0px; bottom: 0px; 
		left: 50%; margin-left: -280px; }
	.column, .columns{ float: left; display: inline; position: relative; margin-bottom: 30px; }

    /* Base Grid */
    .container .eight.columns                   { width: 250px; margin-right: 10px; margin-left: 10px; }
    .container .sixteen.columns                 { width: 520px; margin-right: 10px; margin-left: 10px; }
	
	/* Wrapper */
    .container .eight.columns.wrapper                   { width: 270px; margin-right: 0px; margin-left: 0px; }
    .container .sixteen.columns.wrapper                 { width: 540px; margin-right: 0px; margin-left: 0px; }
	
	/* Percent Column */
	.percent-column1-6{ width: 16.6667%; float: left; }
	.percent-column1-5{ width: 20%; float: left; }
	.percent-column1-4{ width: 25%; float: left; }
	.percent-column1-3{ width: 33.3333%; float: left; }
	.percent-column1-2{ width: 50%; float: left; }
	.percent-column1-1{ width: 100%; float: left; }
	
	/* Footer Column */
	.footer-wrapper .column, .footer-wrapper .columns{ margin-right: 10px; margin-left: 10px; }
	.footer-widget-wrapper{ width: 960px; margin: 0px auto; }
	.footer-wrapper .four.columns  { width: 220px; }
	.footer-wrapper .eight.columns  { width: 460px; }
	.footer-wrapper .one-third.column  { width: 300px; }
	.footer-wrapper .two-third.column  { width: 620px; }

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


